language: java
jdk:
- oraclejdk8
branches:
  only:
  - master
  - develop
notifications:
  email:
    recipients:
    - x.sotomayor@alumnos.upm.com
script:
#Test unitario y de integracion en develop
- mvn verify
- mvn org.jacoco:jacoco-maven-plugin:prepare-agent verify
- mvn sonar:sonar -Dsonar.organization=b2lero-github -Dsonar.host.url=https://sonarcloud.io -Dsonar.login=$SONAR
